

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif, "Courier New", Courier, monospace;
  background: linear-gradient(346deg, rgba(3,242,187,0.9), rgba(121,17,233,0.5));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

button {
  cursor: pointer;
}